<mat-toolbar #menubar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-flat-button color="primary" class="home-button" routerLink="/">
      <!-- <mat-icon>done_outline</mat-icon> -->
      <span class="title-text">{{title}}</span>
    </a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/settings">Settings</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav opened mode="side">
    <mat-nav-list>
      <div>
        <button mat-button class="sidenav-button" routerLink="/tasks">
          <mat-icon>done</mat-icon>
          <span class="sidenav-button-label">Tasks</span>
        </button>
      </div>
      <div>
        <button mat-button class="sidenav-button" routerLink="/">
          <mat-icon>person</mat-icon>
          <span class="sidenav-button-label">Account</span>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: calc(100vh - 64px);">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
