h1 {
    font: 18pt Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20pt;
}

.home-button{
    margin-left: 16px;
    font-size: larger;
}

.title-text{
    margin: 0px 8   px;
    font-family: 'Montserrat', sans-serif;
}

.activeTab {
    background-color: aqua;
}

.sidenav{
    width: 196px!Important;
}

.sidenav-button {
    margin: 5px 10px;
    padding: 0% 3%;
    width: 90%;
    text-align: left;
}

.sidenav-button-label {
    margin-left: 8px;
    font-size: large;
}